/*.img
/*.apk
/initramfs/bin/busybox
/initramfs-*
/build
/dtbs
/src/linux-rockchip
/src/linux-sunxi
/src/linux-librem5
/src/linux-sdm845
/src/busybox
/src/u-boot
/src/u-boot-librem5
/src/arm-trusted-firmware
/*.scr
/*.dtb
/*.img.xz
/*.gz
/*.gz-dtb
/*.bin
/*.tar.bz2
/*.tar.xz
/*.lst
/boot-purism-librem5.sh
/splash/*.gz
