/*.img
/*.apk
/initramfs/bin/busybox
/initramfs-*
/build
/dtbs
/modules
/src/linux-*
/src/busybox
/src/u-boot
/src/u-boot-librem5
/src/arm-trusted-firmware
/*.scr
/*.dtb
/*.img.xz
/*.gz
/*.gz-dtb
/*.bin
/*.tar.bz2
/*.tar.xz
/*.lst
/*.zip
/boot-purism-librem5.sh
/splash/*.gz
